@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Aldrich", serif;
}
body{
    width: 100%;
    
}
.nav {
    width: 100%;
    height: 85px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    transition: all 0.3s;
    position: relative;
}

.main-menu {
    display: flex;
    flex-direction: row;
}

.menu {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    pointer-events: auto;
}

.menu>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
}

.menu>ul>li {
    margin: 0px 15px;
    padding: 0px 3px;
}

.menu>ul>li>a {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.425);
}

.menu-logo {
    display: none;
}
.headerActions {
    display: flex;
}

#bars {
    display: none;
}
#menu-bars {
    display: none;
}

.fa-solid:hover {
    cursor: pointer;
}

.fa-solid {
    font-size: 18px;
    margin: 0px 8px;
    padding: 5px;
}

#bars:checked~.menu {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}
#menu-bars{
    display: none;
}
.menu-bars{
    display: none;
}

@media screen and (max-width: 990px) {
    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -270px;
        height: 100vh;
        background-color: white;
        top: 0%;
        width: 270px;
    }
    
    .menu-logo {
        display: flex;
        width: 150px;
        margin: 50px 0px 30px 30px;
    }
    
    .menu>ul {
        width: 220px;
        height: auto;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0px 0px 0px 15px;
        transform: scaleY(0%);
        transform-origin: top;
        transition: all 0.3s;
        background-color: rgb(90, 90, 90);
    }
    
    .menu>ul>li {
        width: 100%;
        display: flex;
        padding: 0%;
        margin: 0%;
    }
    
    .menu>ul>li>a {
        color: white;
        width: 100%;
        padding: 15px 0px;
        background: none;
        text-align: center;
    }
    
    #bars:checked~.menu {
        left: 0px;
        opacity: 1;
        transform: translateX(0px);
        pointer-events: auto;
    }
    .menu-bars{
        display: block;
        background-color: rgb(90, 90, 90);
        color: white;
        width: 220px;
        padding: 15px 0px;
        text-align: right;
        margin: 0px 0px 0px 15px;
        cursor: pointer;
    }
    .menu-bars>label{
        color: white;
        background-color: black;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 10px;
        text-align: center;
    }
    #menu-bars:checked ~ .menu-list{
        transform: scaleY(100%);
    }
}

@media screen and (max-width: 575px) {
    .nav {
        padding: 0px 10px;
    }
}


/* .display{
    width: 100%;
    height: auto;
    padding: 90px 18%;
}
.display>h1{
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
} */