@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Aldrich", serif;
    /* border: 1px solid red; */
}
body{
    width: 100%;
    position: relative;
}


/* ..................................... start navbar ............................................ */
.nav {
    width: 100%;
    height: 85px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    transition: all 0.3s;
    position: relative;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 100;
}

.main-menu {
    display: flex;
    flex-direction: row;
}

.menu {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    pointer-events: auto;
    
}

.menu>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
}

.menu>ul>li {
    margin: 0px 15px;
    padding: 0px 3px;
}

.menu>ul>li>a {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.425);
}
.menu>ul>li>a:hover{
    color: black;
}

.menu-logo {
    display: none;
}
.headerActions {
    display: flex;
}

#bars {
    display: none;
}
#menu-bars {
    display: none;
}

.fa-solid:hover {
    cursor: pointer;
}

.fa-solid {
    font-size: 18px;
    margin: 0px 8px;
    padding: 5px;
}

#bars:checked~.menu {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}
#menu-bars{
    display: none;
}
.menu-bars{
    display: none;
}

/* ..................................... end navbar ............................................ */
/* ..................................... start display ............................................ */

.display{
    width: 100%;
    height: auto;
    padding: 90px 15vw;
}
.display>h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
}

/* ..................................... end display ............................................ */
/* ..................................... start 2nd nav ............................................ */
.second-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.second-nav>ul{
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.second-nav>ul>li{
    color: rgba(0, 0, 0, 0.425);
    margin: 0px 20px;
    text-transform: uppercase;
}
.second-nav>ul>li:hover{
    color: rgba(0, 0, 0);
}
/* ..................................... end 2nd nav ............................................ */


/* ..................................... start content ............................................ */

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.subRow{
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5px 5px;
    position: relative;
}
.item>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.pANDh1{
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: white;
    transform: translateY(-50px);
    opacity: 0;
    padding: 10px;
    margin: 10px;
}

.pANDh1:hover{
    transform: translateY(0px);
    opacity: 100;
    transition: all 0.5s;
    display: block;
}
.item>img:hover ~ .pANDh1{
    transform: translateY(0px);
    transition: all 0.5s;
    transition-delay: tranform 0.7s;
    opacity: 100;
}

/* ..................................... end content ............................................ */
/* ..................................... start footer ............................................ */
.footer{
    width: 100%;
    height: 85px;
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.para>p{
    color: rgba(255, 255, 255, 0.596);
    font-family: sans-serif;
}
span{
    color: white;    
    font-family: "Aldrich", serif;
    cursor: pointer;
}
span:hover{
    color: rgba(255, 123, 0, 0.863);
}
.actions{
    color: white;
}
.actions>i{
    margin: 0px 10px;
    cursor: pointer;
}
.para>p>i{
    color: red;
}
/* ..................................... end footer ............................................ */





@media screen and (max-width: 990px) {
    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -270px;
        height: 100vh;
        background-color: white;
        top: 0%;
        width: 270px;
    }
    
    .menu-logo {
        display: flex;
        width: 150px;
        margin: 50px 0px 30px 30px;
    }
    
    .menu>ul {
        width: 220px;
        height: auto;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0px 0px 0px 15px;
        transform: scaleY(0%);
        transform-origin: top;
        transition: all 0.3s;
        background-color: rgb(90, 90, 90);
    }
    
    .menu>ul>li {
        width: 100%;
        display: flex;
        padding: 0%;
        margin: 0%;
    }
    
    .menu>ul>li>a {
        color: white;
        width: 100%;
        padding: 15px 0px;
        background: none;
        text-align: center;
    }
    #bars:checked~.menu {
        left: 0px;
        opacity: 1;
        transform: translateX(0px);
        pointer-events: auto;
    }
    .menu-bars{
        display: block;
        background-color: rgb(90, 90, 90);
        color: white;
        width: 220px;
        padding: 15px 0px;
        text-align: right;
        margin: 0px 0px 0px 15px;
        cursor: pointer;
    }
    .menu-bars>label:active{
        background-color: rgba(6, 68, 255, 0.219);
        
    }
    .menu-bars>label{
        color: white;
        background-color: black;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 10px;
        text-align: center;
    }
    #menu-bars:checked ~ .menu-list{
        transform: scaleY(100%);
    }
    .row{
        display: block;
    }
    .footer{
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
    }
    .para{
        text-align: center;
        margin: 20px 0px;
    }
}
@media screen and (max-width: 575px) {
    .nav {
        padding: 0px 10px 0px 20px;
    }
    .display{
        padding: 90px 10px;
    }
    .display>h1{
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
    }
    .subRow{
        width: 100%;
        display: block;
    }
}